@media (max-width: 1400px) {
    .fix-width {
        width: 100%;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}

@media (max-width: 1024px) {
    .logo span {
        font-size: 20px;
    }

    .primary-menu ul li a {
        padding: 0 12px;
        font-size: 15px;
    }

    .header-button {
        width: 18%;
    }

    .content-right h3 {
        font-size: 40px;
        font-weight: 500;
    }

    .section-title h1 {
        font-size: 50px;
    }

    .s-content h3 {
        font-size: 21px;
    }

    .s-content p {
        font-size: 19px;
    }

    .s-icon {
        min-height: 205px;
    }

    .p-heading h1 {
        font-size: 40px;
        margin: 25px 0;
    }

    .p-heading h3 {
        font-size: 23px;
    }

    .p-heading p {
        font-size: 17px;
    }

    .p-content ul li {
        font-weight: 300;
    }

    .p-content span {
        width: 20px;
        margin-right: 5px;
    }

    .p-button .default-btn {
        padding: 20px;
        margin-top: 25px;
    }

    .member-bio {
        border-bottom: 1px solid #ddd;
    }

    .member-bio h4 {
        font-size: 20px;
    }

    .b-heading h2 {
        margin-left: 70px;
    }

    .t-user-img {
        width: 300px;
        margin: auto 50px;
    }

    .t-content p {
        font-size: 17px;
    }

    .blog-post-item img {
        width: 100%;
    }

    .blog-post-content h3 {
        position: relative;
        top: 15px;
    }

    .blog-post-content {
        padding: 40px;
    }
}

.primary-menu span {
    display: none;
}

@media (max-width: 768px) {

    .header-section {
        position: relative;
    }

    .banner-section{
        margin-top: 0;
    }

    .header-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .logo img {
        float: inherit;
    }

    .logo span {
        position: relative;
        top: -22px;
    }

    .header-menu {
        width: 100%;
    }

    .header-button {
        width: 200px;
        text-align: right;
        position: absolute;
        right: 30px;
        top: 72px;
    }

    .primary-menu span {
        font-size: 40px;
        color: #6278df;
        cursor: pointer;
        display: block;
    }

    .primary-menu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }

    .content-right h3 {
        font-size: 35px;
    }

    .content-right p {
        font-size: 15px;
    }

    .section-title h1 {
        font-size: 40px;
    }

    .b-content p {
        font-size: 17px;
    }

    .s-content h3 {
        font-size: 17px;
    }

    .s-content p {
        font-size: 15px;
    }

    .pricing-title p {
        font-size: 16px;
    }

    .p-heading h4 {
        font-size: 17px;
    }

    .p-heading h1 {
        font-size: 22px;
        margin: 17px 0;
    }

    .p-heading h3 {
        font-size: 17px;
    }

    .p-content ul li {
        font-weight: 500;
        font-size: 11px;
    }

    .p-button .default-btn {
        padding: 10px;
        font-size: 10px;
    }

    .p-content {
        padding-bottom: 30px;
    }

    .section-title h2 {
        font-size: 35px;
    }

    .member-bio h4 {
        font-size: 15px;
    }

    .member-bio p {
        font-size: 15px;
    }

    .b-heading h2 {
        margin-left: 30px;
    }

    .blog-post-content {
        border-bottom: 1px solid #ddd;
    }

    .blog-post-content p {
        font-size: 17px;
    }

    .t-content {
        padding: 40px;
    }

    .t-user-bio h4 {
        font-size: 17px;
    }

    .t-user-img {
        margin: auto 17px;
    }

    .content-right-form p {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .banner-content h3 {
        font-size: 21px;
    }

    .banner-content h2 {
        font-size: 40px;
        margin: 20px 0;
    }

    .default-btn {
        font-size: 15px;
        margin-top: 15px;
    }

    .video-left {
        width: 100%;
    }

    .content-right {
        width: 100%;
    }

    .content-right h3 {
        font-size: 35px;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .banner-bottom {
        padding: 60px 0;
    }

    .content-right p {
        font-size: 16px;
    }

    .service-section {
        padding: 60px 0;
    }

    .section-title p {
        font-size: 20px;
    }

    .service-box {
        width: 100%;
    }

    .s-icon {
        min-height: 130px;
    }

    .pricing-title h2 {
        font-size: 40px;
    }

    .pricing-title p {
        font-size: 17px;
    }

    .pricing-tables {
        margin-top: 60px;
    }

    .pricing-table-item {
        width: 100%;
    }

    .pricing-table-item {
        width: 100%;
        margin-bottom: 10%;
    }

    .p-heading h1 {
        font-size: 40px;
    }

    .p-content {
        padding-bottom: 30px;
    }

    .p-content ul li {
        font-size: 20px;
    }

    .p-button .default-btn {
        padding: 15px;
        font-size: 17px;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .team-section {
        padding: 60px 0;
    }

    .members {
        width: 45%;
        margin: 0 5% 5% 0px;
    }

    .section-title p {
        font-size: 19px;
        margin-bottom: 40px;
    }

    .section-title h2 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .submit-btn {
        font-size: 23px;
        padding: 15px 60px;
        margin-top: 40px;
    }

    .blog-section {
        padding: 30px 0;
    }

    .b-heading {
        width: 100%;
    }

    .b-content {
        width: 100%;
    }

    .blog-title {
        padding: 0px;
    }

    .b-content p {
        font-size: 15px;
        padding: 25px 0;
    }

    .blog-post-item {
        width: 100%;
        margin-bottom: 10%;
    }

    .i-item {
        width: 100%;
    }

    .t-user-img {
        margin: auto 15%;
        margin-bottom: 10%;
    }

    .testimonial-items {
        margin-top: 50px;
    }

    .testimonial-section {
        padding: 25px 0;
    }

    .content-left-map {
        width: 100%;
    }

    .content-right-form {
        width: 100%;
    }

    .content-right-form p {
        font-size: 17px;
    }

    .footer p {
        font-size: 12px;
        background: #ddd;
        padding: 10px;
    }

}

@media (max-width: 375px) {
    .banner-content h2 {
        font-size: 35px;
    }

    .default-input {
        width: 100%;
    }

    .default-btn {
        font-size: 13px;
        font-weight: 500;
    }

    .content-right p {
        font-size: 14px;
    }

    .section-title h1 {
        font-size: 30px;
    }

    .section-title p {
        font-size: 17px;
    }

    .section-title p {
        font-size: 17px;
    }

    .pricing-title p {
        font-size: 17px;
    }

    .p-heading p {
        font-size: 15px;
    }

    .p-content ul li {
        font-size: 15px;
    }

    .section-title h2 {
        font-size: 25px;
    }

    .member-bio {
        padding: 20px;
    }

    .member-bio h4 {
        font-size: 15px;
    }

    .member-bio p {
        font-size: 15px;
    }

    .footer p {
        font-size: 17px;
        background: none;

    }
}

@media (max-width: 320px) {

    .banner-content h2 {
        font-size: 30px;
    }

    .default-btn {
        padding: 15px 17px;

    }

    .pricing-section {
        padding: 0;
    }

    .p-heading h1 {
        font-size: 30px;
    }

    .pricing-title h2 {
        font-size: 32px;
    }

    .p-heading h3 {
        font-size: 15px;
    }

    .p-heading h1 span {
        font-size: 12px;
    }

    .p-heading h3 {
        font-size: 15px;
    }

    .p-heading p {
        font-size: 13px;
    }

    .p-content ul li {
        font-size: 17px;
    }

    .p-content span {
        font-size: 18px;
    }

    .p-button .default-btn {
        font-size: 17px;
    }

    .section-title h2 {
        font-size: 21px;
    }

    .member-bio h4 {
        font-size: 12px;
    }

    .member-bio p {
        font-size: 12px;
    }

    .section-title h2 {
        font-size: 20px;
    }

    .section-title p {
        font-size: 14px;
    }

    .b-heading h2 {
        font-size: 40px;
        margin-left: 0;
    }

    .content-right p {
        font-size: 15px;
    }

    .content-right-form p {
        font-size: 15px;
    }

    .footer p {
        font-size: 9px;
        background: #ddd;
        border-radius: 20%;
    }
}